---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="s-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for objective in site.objectives %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ objective.url }}">Objective {{objective.number}}
                                : {{ objective.title }}</a>
                            <img src="{{ site.url }}/assets/img/objectives/{{ objective.number }}/question.png" alt="{{ objective.question }}">
                            <p>ANSWER: {{ objective.answer }}</p>

                            <a href="{{ objective.url }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>

</html>